<div class='panel panel-primary'>
    <div class='panel-heading'>
        {{pageTitle}}
    </div>

    <!-- Filter the Products   -->
    <div class='panel-body'>
        <div class='row'>
            <div class='col-md-2'>Filter by: {{listFilter}}</div>
            <div class='col-md-4'>
                 <input [(ngModel)]="listFilter" type="text">
            </div>
        </div>
        <div class='row'>
            <div class='col-md-6'>
                <h3>Filtered by:  </h3>
            </div>
        </div>

       

        <div class='table-responsive'>

            <!-- ngIf take over ng-reate-->
            <table class='table' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th>
                            <!-- quick example to toggle string in button with function inside interpolation. -->
                            <button 
                                class='btn btn-primary' 
                                (click)='toggleImage()'>
                                {{showImage ? 'Hide' : 'Show'}} Image
                            </button>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                        <th>5 Star Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- in this example we are adding the custom filter and "listFilter" 
                          the ng-model value from the inpit. -->
                    <tr *ngFor='let product of products | productFilter:listFilter'>
                        <td>
                            <!-- this will also work src={{product.imageUrl}} -->
                            <!-- unrealistic data binding below with the css -->
                            <img [src]="product.imageUrl" 
                                 [title]="product.productName"
                                 [style.width.px]="imageWidth"
                                 [style.margin.px]="imageMargin"
                                 *ngIf="showImage">
                        </td>
                        <td>{{ product.productName | FirstLast }}</td>
                        <td>{{ product.productCode | uppercase }}</td>
                        <td>{{ product.releaseDate }}</td>
                        <!-- currency type has three params - explained code:show symbole?: digit info-->
                        <td>{{ product.price | currency:'USD':true:'1.2-2' }}</td>
                        <td>
                            <!--ratingClicked is an out - event emmiter that when that function is ran in
                            the child component is will emmit to function we see here OnRatingCliked and five it 
                            value from the child component up to the parent component - this is a poor example but we
                            change the title of this page with the data emited up from the child. -->
                            <ai-star 
                                [rating]='product.starRating'
                                (ratingClicked)="onRatingClicked($event)">
                            </ai-star>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>